div {
    width: 400px;
    margin: 20px auto;
    
    text-align: center;
    text-indent: -9999px;
    white-space: nowrap;
    position: relative;

    font-size: 20px !important;
    color: black !important;
    border: none !important;
    background-color: #eee !important;
}

div::after {
    content: "Elzero";

    width: 80px;
    height: 20px;
    color: black;

    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 50%;
    margin-right: -40px;

    text-indent: 0;

    font-weight: bold;
}