div {
    width: 300px;
    height: 60px;

    padding: 20px;
    margin-left: calc((100% - 340px) / 2);
    margin-bottom: 10px;
    
    font-size:xx-large;

    text-align: center;
    line-height: 60px;
    vertical-align: middle;

    background-color: #eee;
}

:empty {
    background-color: red;
}