* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 50px;
  height: 50px;

  margin: 200px auto;

  position: relative;

  border-radius: 50%;
  border: 5px solid #fca604;
  border-left-color: transparent;

  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

div::before {
  content: "";

  box-sizing: border-box;

  width: 35px;
  height: 35px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 5px solid #2697ef;
  border-right-color: transparent;
}

div::after {
  content: "";

  box-sizing: border-box;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 5px solid #df1355;
  border-left-color: transparent;
}

div:hover {
  animation-play-state: paused;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}