* {
    box-sizing: border-box;
}

div {
    width: 500px;
    height: 300px;
    padding: 30px;
    margin-left: calc((100% - 500px) / 2);

    text-align: center;
    
    transition-duration: 1.5s;

    columns: black;
    background-color: #f2f2f4;
}

p {
    margin: 10px;
}

.down {
    height: 60px;
    padding: 20px;

    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    
    transition: margin-top 0s 0.5s;

    background-color: #dededc;
}

div:hover {
    margin-top: 60px;
}

div:hover .down {
    margin-top: 30px;
}