* {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 300px;
    padding: 10px;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    font-family: Arial, Helvetica, sans-serif;

    color: white;
    background-color: #eee;
}

.parent div {
    flex-basis: 32%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #607d8b;
}

.two,
.four,
.five,
.six {
    align-self: stretch;
}

.one {
    order: 6;
    align-self: flex-end;
}

.two {
    order: 5;
}

.three {
    order: 2;
}

.four {
    order: 3;
}

.five {
    order: 4;
}

.six {
    order: 1;
}