*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  width: fit-content;
  height: 384px;;

  /* position: absolute;
  top: 50%;
  left: 50%; */

  overflow:  hidden;
  /* transform: translate(-50%, -50%); */
}

div img {
  transition: 1s;
}

div:hover img {
  transform: scale(1.4) rotate(15deg);
  opacity: 0.9;
}