table {
    /* General settings */
    width: 700px;
    margin: auto;

    text-align: center;

    /* border-spacing: 29px; */
    border-bottom: 4px solid rgb(0,150,136);
}

table td {
    padding: 5px;

    background-color: rgb(238,238,238);
}

table thead td {
    padding: 10px;
    font-weight: bold;
    
    color: white;
    background-color: rgb(64,64,64);
}

.control {
    width: 150px;
}

.control div {
    float: left;

    padding: 5px 10px;
    color: white;
}

.red {
    margin-left: 10px;
    background-color: rgb(233,30,99);
}

.blue {
    margin-left: 25px;
    background-color: rgb(3,169,244);
}

.clear {
    clear: both;
}

img {
    width: 50px;
    height: 50px;
}